/* ------------------------------------ */
/* ------------ BASIC SETUP------------ */
/* ------------------------------------ */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #fff;
    color: #555;
    font-family: 'NHaasGroteskTXStd-55Rg';
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

/* ------------------------------------ */
/* -------------- Buttons --------------- */
/* ------------------------------------ */

.btn:link,
.btn:visited {
    display: inline-block;
    margin-top: 20px;
    padding:15px 10px;
    font-weight: 300;
    text-decoration: none;
    font-size: 14px;
    font-family: 'NHaasGroteskTXStd-55Rg';
}

.btn-full:link,
.btn-full:visited {
    background-color: #0A4CB7;
    color: #FAFAFA;
    margin-right: 15px;
}

/* ------------------------------------ */
/* --------- REUSABLE COMPONENTS------- */
/* ------------------------------------ */

.row {
    max-width: 1000px;
    margin: 0 auto;
}

.header-row {
    max-width: 1000px;
    margin: 0 auto;
}

h1,
h2 {
    color: #262626;
    font-family: 'NHaasGroteskDSStd-65Md';
}

h1.taking-control-header {
    margin-top: 100px;
    font-weight: bold;
}

h2{
    font-size: 24px;
}

/* ------------------------------------ */
/* -------------- HEADER -------------- */
/* ------------------------------------ */

.logo {
    height: 40px;

    width: auto;
    float: left;
}


/* -------------- Main Navigation Menu -------------- */
.outerline {
    border-bottom: 1px solid #b7b7b7;
    margin-bottom: 25px;
}

nav {
    text-align: center;

}

nav ul {
    margin: 0;
    padding: 0;
}

.main-nav {
    float: left;
    margin: 5px 0 0 15px;
}

.main-nav li {
    list-style: none;
    display: inline-block;
    font-size: 12px;
}

.main-nav li:not(:last-child) {
    border-right: 1px solid #b7b7b7
}

.main-nav li a:link,
.main-nav li a:visited {
    padding: 0 5px;
    color: #000000;
}

.main-nav li .borderHeaderAbout {
    border-left: 0;
    padding-left: 0;
}

/* -------------- Sub Navigation Meny -------- */

nav .sub-nav-menu {
    text-align: left;
    font-family: 'NHaasGroteskDSStd-65Md';
}

.sub-nav {
    display: table;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    float: left;
}

.sub-nav li {
    list-style: none;
    display: table-cell;
    min-width: 50px;
    border-right: 1px solid #ccc;
    border-top: 1px solid #434343;
}

.sub-nav li:first-child {
    border-left: 1px solid #ccc;
}

.sub-nav li a {
    display: block;
    width: 100%;
    padding: 15px;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    color: #fff;
    background-color: #282F54;
}

.sub-nav li a:hover {
    background-color: #F1F1F1;
    color: #000;
    text-decoration: underline;
    border-bottom: 2px solid #000;
}


/* -------------- Search  -------------- */
#search {
    background-color: #F1F1F1;
    width: 165px;
    height: 40px;
    border: 1px green #b5b5b5;
    float: right;
    margin: 0;
}

#search input {
    vertical-align: top;
    margin: 0px;
    padding: 0 0 10px 10px;
    width: 100%;
    height: 100%;
    font-size: 1.2em;
    box-sizing: border-box;
    background-color: transparent;
    border-width: 0;
}

#search input::placeholder {
    font-size: 13px;
    padding-bottom: 10px;
}


/* ------------------------------------ */
/* -------------- Content -------------- */
/* ------------------------------------ */


/* -------------- Taking Control Headline -------------- */
.taking-control {
    background-color: #F1F1F1;
    height: 45vh;
}

nav .pankuzu {
    list-style: none;
}

#pankuzu li {
    display: inline-block;
    float: left;
    font-size: 14px;
    font-family: 'NHaasGroteskTXStd-55Rg';
    padding: 20px 5px 30px 5px;
}

#pankuzu li a:link,
#pankuzu li a:visited {
    color: #919191;
}

.shareIcon {
    display: inline-flex;
    color: #0C4AB5;
    margin-top: 30px;
}

.introText {
    font-size: 13px;
    color: #141414;
}

.shareText {
    color: #0C4AB5;
    font-size: 14px;
    font-weight: bold;
    margin: 2px 0 0 10px;
}

/* ------------------------------------------ */
/* -------------- Main Content -------------- */
/* ------------------------------------------ */

.long-copy,
.long-copy-2{
    font-size: 14px;
    line-height: 140%;
    color: #000000;
}

.long-copy{
    padding-top: 70px;
}

.long-copy-2{
    padding-top: 10px;
}

/* -------------- AI Section ---------------- */
.takeControlImage{
    padding-left: 50px;
}

.robotsImage{
    padding-left: 50px;
}

.textControlCopy{
    width: 600px;
}

.robotsImageCopy{
    width: 600px;
}

.takeControlText{
    padding-right: 80px;
    padding: 30px 0;
}

.robotsImageText{
    padding-right: 80px;
    padding: 30px 0;
}